.card img {
  height: 240px;
}
#con {
  margin-top: 54px;
}
.card-footer {
  background-color: rgba(51, 51, 51, 0.86) !important;
  right: 1px;
  left: 0;
  color: #fff !important;
}
.card-footer {
  height: 4rem;
  width: auto;
}
.text-muted {
  color: #fff !important;
  font-size: 1.2rem;
  text-align: center;
  margin: auto;
}
.slider {
  margin: 20px 0 0 0;
}
.conman-div-odd .card img {
  height: 240px;
}
.conman-div-odd .card {
  height: 350px;
  margin: 20px 0;
}
header h2 {
  text-align: center;
}
